.burger {
  height: 20px;
  width: 24px;
  position: relative;
  display: block;
  z-index: 99;
  cursor: pointer;

  @media screen and (min-width: 993px) {
    display: none;
  }
}
.burger span,
.burger::before,
.burger::after {
  left: 0;
  position: absolute;
  height: 16%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: var(--VeryDarkBlue);
}
.burger::after,
.burger::before {
  content: '';
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.burger._active span {
  transform: scale(0) translate(0px, -50%);
}
.burger._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  background-color: #fff;
}
.burger._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  background-color: #fff;
}
