@import-normalize;
@import './reset';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  --SoftBlue: hsl(231, 69%, 60%);
  --SoftRed: #fa5757;

  --GrayishBlue: #9194a1;
  --VeryDarkBlue: hsl(229, 31%, 21%);
}

body {
  font-family: 'Rubik', sans-serif;
  color: var(--VeryDarkBlue);
  background-color: #fff;
}

p {
  color: var(--GrayishBlue);
  line-height: 160%;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  @media screen and (min-width: 993px) {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--VeryDarkBlue);
  line-height: 128%;
  text-align: center;
  font-weight: 500;
}
h1,
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}

@media screen and (min-width: 993px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 32px;
  }
  h3,
  h4 {
    font-size: 22px;
  }
}

.container {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 28px;
}
